* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
h4{color:green;
}

body {margin:40px;
}
p {margin:0px;
}
.racer_table {height:80px;}

.racer_table td {
  background-color: white;
  height: 40px;
  width: 40px;
}


.racer_table td.active {
  background-color: red;
}
