* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}

